<% provide(:title, "ご本人確認メール再送信") %>
<% provide(:description, "このページからご本人確認メールを再送信できます。") %>

  <div class="row-fluid">
    <%# サイトメインタイトル %>
    <%= render 'shared/main-title' %>
  </div>

<h3>ご本人確認メール再送信</h3>

<%= simple_form_for(resource, :as => resource_name, 
  :url => confirmation_path(resource_name),
  :html => { :method => :post , :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%#= devise_error_messages! %>
  <p>&nbsp;</p>
  <p class="">本人確認メールの送付先アドレスを設定してください。</p>
  <%= f.input :email, :required => true %>
  <%= f.button :submit, '本人確認メール再送信', :class => 'btn' %>

<% end %>
<p>&nbsp;</p>
<%= render "devise/shared/links" %>
