<% provide(:title, "会員登録完了") %>
<% provide(:description, "会員登録が完了しました。") %>

  <div class="row-fluid">
    <%# サイトメインタイトル %>
    <%= render 'shared/main-title' %>
  </div>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "メンバー", users_path %>
      <span class="divider">/</span>
    </li>
    <li class="active"><%= @user.name if @user %></li>
  </ol>

  <!-- page header -->
  <%= image_tag('signup/signup_step3.jpg', { alt:"step3" } ) %>

  <div class="page-header">
    <h3>会員登録が完了しました！</h3>
  </div>
    <p><b>他の人の投稿フレーズをお気に入り登録したり、コメントをつけたりできます。</b></p>
    <p>※登録情報を変えたいときは、<%= link_to "『アカウント設定』", edit_user_registration_path  %>で修正・更新してください。</p>


  <div class="container ph_profile_container">
    <%= render 'shared/public_user_profile' %>
  </div>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>  
  <%= render 'shared/post_phrase_link' %>