<% provide(:title, "英語・英会話フレーズ|Phrasee|会員登録完了") %>

  <%= image_tag('signup/signup_step3.jpg', { alt:"step3" } ) %>

  <!-- page header -->
  <div class="page-header">
    <h3>会員登録完了！</h3>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "メンバー", users_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">登録完了した人</li>
  </ol>

  <%= simple_form_for(resource, :as => resource_name, :url => confirm_path, 
      :html => { :method => :put, :multipart => true, :class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>

    <label>プロフィール画像</label>
    <%= image_tag(@user.profile_image_url) if @user.profile_image? %>
      
      <p>&nbsp;</p>
      <%= f.button :submit, :class => 'btn' %>
    </div>
  <% end %>



  <div class="container ph_profile_container">

  </div>

  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>
