<% provide(:title, "メンバーアカウント設定") %>
<% provide(:description, "このページからアカウント設定ができます。") %>

<%#= javascript_include_tag "http://ajaxzip3.googlecode.com/svn/trunk/ajaxzip3/ajaxzip3.js", charset:"UTF-8" %>
<%#= javascript_include_tag "/plugin/jquery.zip2addr.js", charset:"UTF-8" %>

<div class="container">
  <%= image_tag('signup/signup_step2.jpg', { alt:"step2" } ) %>

  <div class="row-fluid">
    <%# サイトメインタイトル %>
    <%= render 'shared/main-title' %>
  </div>

  <!-- page header -->
  <div class="page-header">
    <h3>アカウント設定</h3>
  </div>

  <%= simple_form_for(resource, :as => resource_name, :url => confirm_path,
      :html => { :method => :put, :multipart => true, :class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors resource %>

    <%# 本人確認用トークン %>
    <% token_for_confirm = resource.confirmation_token || @confirmation_token %>
    <%= f.input :token_for_confirmation, :as => :hidden, :input_html => { :value => token_for_confirm } %>

    <div class="basic_form_container">

      <%# 登録情報フォーム部品 %>
      <%= render :partial => 'devise/shared/account_items', :locals=>{:f=>f, :user => @user} %>

      <p>&nbsp;</p>
      <%= f.button :submit, '登録する', :class => 'btn' %>
    </div>
  <% end %>

</div>