<% provide(:title, "英語・英会話フレーズ|Phrasee|メンバーアカウント設定") %>
<%#= javascript_include_tag "http://ajaxzip3.googlecode.com/svn/trunk/ajaxzip3/ajaxzip3.js", charset:"UTF-8" %>
<%#= javascript_include_tag "/plugin/jquery.zip2addr.js", charset:"UTF-8" %>

<div class="container">
  <%= image_tag('signup/signup_step2.jpg', { alt:"step2" } ) %>

  <!-- page header -->
  <div class="page-header">
    <h3>アカウント設定</h3>
  </div>

  <%= simple_form_for(resource, :as => resource_name, :url => confirm_path, 
      :html => { :method => :put, :multipart => true, :class => 'form-vertical' }) do |f| %>
    <%= f.error_notification %>
    <%#= display_base_errors resource %>

    <%# 本人確認用トークン %>
    <% token_for_confirm = resource.confirmation_token || @confirmation_token %>
    <%= f.input :token_for_confirmation, :as => :hidden, :input_html => { :value => token_for_confirm } %>

    <div class="basic_form_container">

      <%# 登録情報フォーム部品 %>
      <%= render :partial => 'devise/shared/account_items', :locals=>{:f=>f, :user => @user} %>

      <%# 利用規約 %>
      <div class="controls">
        <label class="checkbox">
          <%#  <input type="checkbox" name="user[agreement]" value="1" checked> %>
          <%= f.check_box :agreement, checked:"checked" %>
          <%= link_to "利用規約", terms_path %>を確認しました
        </label>  
      </div>

      <p>&nbsp;</p>
      <%= f.button :submit, '規約に同意して登録する', :class => 'btn' %>
    </div>
  <% end %>

</div>