<% provide(:title, "英語・英会話フレーズ|Phrasee|アカウント設定") %>

<div class="container">

  <!-- page header -->
  <div class="page-header">
    <h3>アカウント設定</h3>
  </div>

  <div class="form_container"> 
    <%= simple_form_for(resource, :as => resource_name, 
      :url => registration_path(resource_name), 
      :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
      <%= f.error_notification %>
      <%= display_base_errors resource %>

      <strong><span class="lead"><%= current_user.name %></span></strong>さん
      <p>&nbsp;</p>

      <%# nameは変更不可にしておく %>
      <%#= f.input :name, :autofocus => true %>
      
      <%= f.input :email, :required => true %>

      <%#= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <%= f.input :password, :autocomplete => "off", :required => false, :label => "新しいパスワード" %>
      <%= f.input :password_confirmation, :required => false, :label => "新しいパスワード再入力（確認用）" %>

      <div class="form-actions">
        <%#= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
        <%= f.input :current_password, :required => true %>
        <%#= f.button :submit, "#{t 'Update'}", :class => 'btn-warning' %>
        <%= f.button :submit, :class => 'btn-warning' %>
      </div>
    <% end %>
  </div>

  <p>&nbsp;</p>
  <p><%= link_to "退会はこちらから", resign_path %></p>   
  <p><%= link_to "トップページへ", root_path %></p>
</div>