<% provide(:title, "英語・英会話フレーズ|Phrasee|退会") %>

<div class="">
  <h3>退会</h3>

  <div class="alert">
    <strong>注意!</strong> 退会するとこれまでに登録した情報は削除されます。（元に戻すことはできません）
  </div>

  <!-- フォーム -->
  <%= simple_form_for(@resignation, :as => resource_name, 
    :url => registration_path(resource_name), 
    :html => { 
      :method => :delete, 
      :class => 'form-vertical', 
      :data => { :confirm => "本当に退会しますか？?" } }
    ) do |f| %>

    <%# 退会理由 %>
    <div class="well resign_reasion_container">
      <span class="label">任意</span>&nbsp;<small class="">退会理由</small>
      <%= f.input :reason, as: :text, 
      label:"<small class='muted'>差し支えなければ、退会する理由を教えてください。</small>",
       input_html: { rows:"3", class:"resign_reason_text" } %>

      <%= f.button :submit, "退会する", :class => 'btn btn-danger' %>
    </div>
  <% end %>

  <p>&nbsp;</p>  
  <p><%= link_to "もどる", :back %></p>
  <p><%= link_to "トップページへ", root_path %></p>
</div>