  <div class="container">

    <h4>コメント</h4>
    <% if @comments.any? %>
    <ul class="media-list">
    <% @comments.each do |comment| %>
      
      <%# コメントした人 %>
      <% commented_user = User.find(comment.user_id) %>

      <%# コメント内容 %>
      <li class="media">

        <%# コメント者画像（リンク付き） %>
        <%= link_to user_path(comment.user_id), { class:"pull-left" } do %>
          <%= render partial: 'devise/shared/profile_image', locals:{ user: commented_user, type: :thumb } %>
        <% end %>

        <div class="media-body">
          <h4 class="media-heading"><%= link_to commented_user.name, user_path(comment.user_id) %></h4>
          <p class="muted"><%= comment.created_at.to_s(:db) %><%# UTCからJST（日本時間）に変換 %>
          <p><%= simple_format(comment.content) %></p>
        </div>
        <hr>
      </li>
      <li class="divider"></li><%# 区切り線 %>
    <% end %> 
    </ul>
    <% else %>
      コメントはまだありません。
    <% end %>
  </div>