  <div class="container">

    <h4>コメント</h4>
    <% if @comments.any? %>
    <ul class="media-list">
    <% @comments.each do |comment| %>
      
      <%# コメントした人 %>
      <% commented_user = User.find(comment.user_id) %>

      <%# コメント内容 %>
      <li class="media">

        <%# コメント者画像（リンク付き） %>
        <%= link_to user_path(comment.user_id), { class:"pull-left" } do %>
          <% if commented_user.profile_image.present? %>
            <%= image_tag(commented_user.profile_image_url(:thumb), { alt:"comment-user-icon", class:"img-polaroid", style:"max-height: 64px;" }) %> 
          <% else %>
            <%= image_tag("icons/64x64.gif", { alt:"user-icon", class:"img-polaroid", size:"64x64" }) %>
          <% end %>
        <% end %>

        <div class="media-body">
          <h4 class="media-heading"><%= link_to commented_user.name, user_path(comment.user_id) %></h4>
          <p class="muted"><%= comment.created_at.to_s(:db) %><%# UTCからJST（日本時間）に変換 %>
          <p><%= simple_format(comment.content) %></p>
        </div>
        <hr>
      </li>
      <li class="divider"></li><%# 区切り線 %>
    <% end %> 
    </ul>
    <% else %>
      コメントはまだありません。
    <% end %>
  </div>