
<% if user.present? %>

  <div class=""><span class="lead">【 他のユーザーに公開される情報 】</span></div>
  <div class="well">
    <%# ニックネーム %>
    <%# nameは変更不可にしておく %>
    <%#= f.input :name, :autofocus => true %>
    <dl>
      <dt>ニックネーム</dt>
      <dd>
        <strong><span class="lead"><%= user.name %></span></strong>さん
        <%= f.input :name, :as => :hidden, :input_html => { :value => user.name } %>
      </dd>
    </dl>

    <%# プロフィール画像 %>
    <dl>
      <dt>プロフィール画像</dt>
      <dd>
        <div class="fileupload fileupload-new" data-provides="fileupload">

          <%# 画像表示領域 %>
          <div class="fileupload-new thumbnail " style="max-width: 200px; max-height: 200px; line-height: 20px; background-color:#FFFFFF;">
            <% if user.profile_image? %>
              <%= image_tag(user.profile_image_url.to_s, { class:"", style:"max-height: 150px;" }) %>
            <% else %>
              <img src="http://quickimage.it/200x200">
            <% end %>
          </div>

          <%# 画像選択・変更・削除ボタン %>
          <div class="fileupload-preview fileupload-exists thumbnail " style="max-width: 200px; max-height: 200px; line-height: 20px;"></div>
          <div>
            <span class="btn btn-file">
              <span class="fileupload-new">画像選択</span>
              <span class="fileupload-exists">変更</span>
              <%= f.file_field :profile_image %><%# input type="file" %>
            </span>
            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">削除</a>
            <p><small class="help-block">jpg, jpeg, gif, png形式のみアップロード可</small></p>
          </div>
        </div>
      </dd>
    </dl>

    <%# 自己紹介 %>
    <%= f.input :introduction, as: :text, required: false,  input_html: { rows:"3", class:"input-xxlarge" },  
                placeholder:"例）洋画を字幕無しで見たいがために英語の勉強を始めました。",
                label:"<b>自己紹介</b>" %>
  </div>

  <div class=""><span class="lead">【 非公開情報 】</span></div>
  <div class="well">

  <%# ★編集時のみ(会員登録時のアカウント設定画面では非表示)  %>   
  <% if user.confirmed? %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :autocomplete => "off", :required => false, :label => "新しいパスワード" %>
    <%= f.input :password_confirmation, :required => false, :label => "新しいパスワード再入力（確認用）" %>
  <% end %>

    <%# 性別 %>   
    <% gen_checked = (user.gender.present? && user.gender>0 ) ? user.gender : 1 %>
    <%= f.input :gender, as: :radio_buttons, required: true, collection: [['男性', 1], ['女性', 2]], label:' <b>性別</b>', checked:gen_checked %>

    <%# 生年月日 %>
    <%= f.input :birth, as: :date, required: true,
                  start_year: Date.today.year - 120, end_year: Date.today.year, # 120年前〜今年 
                  default: (Date.today - 30.year).at_beginning_of_year,
                  label:" <b>生年月日</b><small class='muted'>（年/月/日）</small>", input_html:{ style:"width:100px;" } %>

    <%# お住まいの国 %>
    <%= f.input :country, as: :country, required: true, priority: ["Japan"],
                  label:' <b>現在お住まいの国</b>' %>


    <%# 郵便番号（日本国内在住者のみ） %>
    <%= f.input :postal_code, required: true,
                label:' <b>郵便番号</b><small>（日本にお住まいの方のみ）</small>', 
                placeholder:"例.123-4567",
                input_html: { id:"zip", class:"input-small", maxlength: 8 },
                hint:'<small class="help-block" id="searced_address"></small>' %> 

    <%# メール配信設定 %>
    <% mflg = "checked" unless user.mail_flg == false  %>
    <%= f.input :mail_flg, required: false, inline_label: 'お知らせメールを受け取る', label:" <b>メール配信</b>", input_html:{ checked:mflg  } %>
  </div>

<% end %>