<% provide(:title, "新着英語・英会話フレーズ") %>
<% provide(:description, "新着英語・英会話フレーズ") %>

  <%# サイトメインタイトル %>
  <%= render 'shared/main-title', tag:"h1" %>
  
  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">新着順</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h1><span class="ph_category_name">新着順・英語フレーズ一覧（全<%= Phrase.count %>件）</span></h1>
  </div>

  <%= render 'shared/phrases_list' %>

  <p>&nbsp;</p>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>

  <%# ユーザー紹介 %>
  <%= render 'shared/introduce-users' %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>

<%# if admin? %>
  <%#= link_to 'Edit', edit_phrase_path(phrase) %>
  <%#= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %>
<%# end %>