<% provide(:title, "『#{@phrase.japanese}』を英語で言うと『#{@phrase.english}』") %>
<% provide(:subtitle, "投稿フレーズNo.#{@phrase.id}「#{@phrase.japanese}」を英語で言うと？") %>
<% provide(:description, "【スマホ対応サイト】『#{@phrase.japanese}』を英語で言うと『#{@phrase.english}』") %>

<!-- main -->

<%# サイトメインタイトル %>
<%= render 'shared/main-title' %>

<div class="row-fluid">

  <!-- パンくずリスト -->
  <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <!-- トップページ -->
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="home">
      <%= link_to root_path, itemprop:"url" do %>
      <span itemprop="title">トップ</span>
      <% end %>
      <span class="divider">/</span>
    </li>
    <!-- 子ページ -->
     <li itemprop="child"  itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <%= link_to categories_path, itemprop:"url" do %>
      <span itemprop="title">カテゴリー</span>
      <% end %>
      <span class="divider">/</span>
    </li>
    <!-- 孫ページ -->
    <li itemprop="child"  itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <%= link_to category_path(@phrase.category.id), itemprop:"url" do %>
      <span itemprop="title"><%= @phrase.category.category_name %></span>
      <% end %>
      <span class="divider">/</span>
    </li>
    <!-- 現在ページ -->
    <li class="active" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title"><%= @phrase.japanese %></span>
    </li>
  </ol>

  <!-- 投稿フレーズ -->
  <div class="container">

    <%= render partial: 'shared/show-phrase', locals:{ phrase: @phrase } %>

    <!-- 出典・引用元 -->
    <% unless @phrase.source.blank?  %>
    <p class="muted">
      <small>出典・参考：<cite title=""><%= show_linkable_source(@phrase.source) %></cite></small>
    </p>

    <% end %>  
  </div>

  <!-- 投稿者 -->
  <div class="media" itemscope itemtype="http://data-vocabulary.org/Person">

    <!-- 投稿者メンバー画像 -->
    <%= link_to user_path(@phrase.user), { class:"pull-left", title:"#{@phrase.user.name}さんのフレーズブックはこちら", rel:"author", itemprop:"url" } do %>
      <%= render partial: 'devise/shared/profile_image', locals:{ user: @phrase.user, type: :thumb } %>
    <% end %>

    <!-- エピソード本文 -->
    <div class="media-body">
      <!-- 投稿者メンバー名 -->
      <h4 class="media-heading">
        <%= link_to user_path(@phrase.user), title:"#{@phrase.user.name}さんのフレーズブックはこちら", rel:"author", itemprop:"url" do %>
        <span itemprop="name"><%= @phrase.user.name %></span>
        <% end %>
      </h4>
      <!-- 投稿日時 -->
      <p class="muted">
        <%# UTCからJST（日本時間）に変換 %>
        <time itemprop="" datetime=<%= @phrase.updated_at.to_s(:db) %>>
        <%= @phrase.updated_at.to_s(:db) %>
        </time>
      </p>
      <!-- エピソード・ひとくちメモ -->
      <span itemprop="description">
      <%= simple_format(show_linkable_source(@phrase.story), class:"lead") %>
      </span>
    </div>
  </div>

  <!-- 次へ -->
  <% if @next %>
    <p>
    <%= link_to  @next do %>
      次を見る→<strong>『<%= @next.japanese %>』</strong>を英語で言うと？
    <% end %>
    </p>
  <% end %>

  <%# <%= link_to '次を見る→『'+@next.japanese+'』を英語で言うと？', @next if @next %>
  <%#= @phrases.map{|p|p.japanese} %><%# 同カテゴリフレーズ %>
  <br>

  <p><%= link_to "#{@phrase.user.name}さんが投稿した英語フレーズ一覧を見る", posts_user_path(@phrase.user), title:"#{@phrase.user.name}さんが投稿した英語フレーズ一覧はこちら" %></p>
  <p><%= link_to "『#{@phrase.category.category_name}』カテゴリーの英語フレーズ一覧を見る" , category_path(@phrase.category.id), title:"『#{@phrase.category.category_name}』カテゴリーの英語フレーズ一覧はこちら" %></p>

  <hr> 

  <!-- コメント一覧 -->
  <%= render 'comments/comments_list', { comments: @comments } %>
  <p>&nbsp;</p>
  <!-- コメント投稿フォーム -->
  <%= render 'comments/comment_form', { url_path: comments_path, http_req: :post } %>


  <p>&nbsp;</p>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>
  
  <%# ユーザー紹介 %>
  <%= render 'shared/introduce-users' %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
</div>

<script type="text/javascript">
$(function(){
  $("span.label-important").remove();
});
</script>