<% provide(:title, "『#{@phrase.japanese}』の英語・英会話フレーズ|#{@phrase.english}|Phrasee") %>

<!-- main -->
<div class="container">

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
     <li>
      <%= link_to 'カテゴリー 一覧', categories_path %>
      <span class="divider">/</span>
    </li>   
    <li>
      <%= link_to @phrase.category.category_name, category_path(@phrase.category.id) %>
      <span class="divider">/</span>
    </li>
    <li class="active"><%= @phrase.japanese %></li>
  </ol>

  <!-- 投稿フレーズ -->
  <div class="container">
    <div class="well show_phrase_container">
      <h1><%= @phrase.japanese %></h1>
      <h1><%= @phrase.english %></h1>
      <div>

      <!-- お気に入り追加/削除、フレーズ編集/削除ボタン -->
      <% if signed_in? && @phrase.user.id == current_user.id %>
        <%= link_to "編集する", edit_phrase_path(@phrase), class:"btn btn-small" %>
        <%= link_to "削除する", phrase_path, method: :delete, data:{ confirm:"このフレーズを削除しますか?" }, 
              title:@phrase.japanese, class:"btn btn-small btn-danger" %>
      <% else %>
        <button class="btn btn-small ph_favorite_button" data-toggle="button" ><i class="icon icon-star-empty"></i> お気に入りに追加</button>
      <% end %>
      </div>
    </div>

    <!-- 出典・引用元 -->
    <p class="muted">出典：<%= @phrase.source %></p>
  </div>

  <!-- 投稿者 -->
  <div class="media">
    <!--div class="page-header"-->

      <!-- メンバー画像 -->
      <%= link_to user_path(@phrase.user), { class:"pull-left" } do %>
      <%= image_tag('service/8566716_aa614fe042_image.jpg', { alt:"post-icon", size:"80x80" } ) %> 
      <% end %>

      <!-- エピソード本文 -->
      <div class="media-body">
        <h4 class="media-heading"><%= link_to @phrase.user.name, user_path(@phrase.user) %></h4>
        <p class="muted"><%= @phrase.updated_at.to_s(:db) %></p><%# UTCからJST（日本時間）に変換 %>
        <p class="lead"><%= @phrase.story %></p>
      </div>
    </div>
  <!--/div-->
  <hr> 

  <!-- コメント一覧 -->
  <%= render 'comments/comments_list', { comments: @comments } %>
  <p>&nbsp;</p>
  <!-- コメント投稿フォーム -->
  <%= render 'comments/comment_form', { url_path: comments_path, http_req: :post } %>

  <p>&nbsp;</p>
  <p><%= link_to "#{@phrase.user.name}さんの投稿フレーズ一覧を見る", posts_user_path(@phrase.user) %></p>
  <p><%= link_to "『#{@phrase.category.category_name}』カテゴリーのフレーズ一覧を見る" , category_path(@phrase.category.id) %></p>
  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>


  <%#= render "shared/comment"  %>
</div>