<% provide(:title, "英語・英会話フレーズ|Phrasee|メンバー一覧") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">メンバー</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h1><span class="ph_category_name">メンバー一覧</span></h1>
  </div>

  <%= render 'shared/members', object: @users %>

  <%= render 'shared/pagination', object: @users %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>