<% provide(:title, "英語・英会話フレーズ|Phrasee|メンバー一覧") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">メンバー</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h1><span class="ph_category_name">メンバー一覧</span></h1>
  </div>

<ul class="users_list unstyled">
  <% @users.each do |user| %>
    <li class="ph_phrase_item">
      <ol class="inline">
        <li style="width:70px;">
          <!-- メンバー画像 -->
          <%= link_to user_path(user), { class:"" } do %>
             <%= render partial: 'devise/shared/profile_image', locals:{ user: user, type: :thumb } %>
          <% end %>
        </li>
        <li>
          <!-- メンバー名 -->
          <%= link_to user.name, user %>
        </li>
      </ol>
    </li>
  <% end %>
</ul>

<%= render 'shared/pagination', object: @users %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>