<% provide(:title, "Phraeeをご利用中のメンバー一覧") %>
<% provide(:description, "Phraeeをご利用中のメンバー一覧") %>

  <%# サイトメインタイトル %>
  <%= render 'shared/main-title' %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">メンバー</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h2><span class="ph_category_name">Phraeeをご利用中のメンバー一覧</span></h2>
  </div>

  <%= render 'shared/members', object: @users %>

  <%= render 'shared/pagination', object: @users %>

  <% unless signed_in? %>
    <%= render 'shared/start-phrasee_link' %>
  <% end %>

  <p>&nbsp;</p>
  <%= render 'shared/post_phrase_link' %>
  <%= render 'shared/top-page_link' %>