<% provide(:title, "英語・英会話フレーズ|Phrasee|メンバー一覧") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">メンバー</li>
  </ol>

<h3>メンバー一覧</h3>

<ul class="users_list unstyled">
  <% @users.each do |user| %>
    <li class="user">
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= render 'shared/pagination', object: @users %>

  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>