<% provide(:title, "英語・英会話フレーズ|Phrasee|メンバー一覧") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">メンバー</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h1><span class="ph_category_name">メンバー一覧</span></h1>
  </div>

<ul class="users_list unstyled">
  <% @users.each do |user| %>
    <li class="ph_phrase_item">

      <!-- メンバー画像 -->
      <%= link_to user_path(user), { class:"" } do %>
        <% if user.profile_image.present? %>
          <%= image_tag(user.profile_image_url(:thumb), { alt:"user-icon", class:"img-polaroid", size:"44x44" }) %> 
        <% else %>
          <%= image_tag("icons/44x44.gif", { alt:"user-icon", class:"img-polaroid", size:"44x44" }) %>
        <% end %>
      <% end %>

      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= render 'shared/pagination', object: @users %>

  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>