<% provide(:title, "英語・英会話フレーズ|Phrasee|カテゴリー 一覧") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "メンバー", users_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to @user.name, user_path(@user) %>
      <span class="divider">/</span>
    </li>
    <li class="active">投稿フレーズ</li>
  </ol>
  
  <!-- page header -->
  <div class="page-header">
    <h1>
      <span class="ph_category_name"><%= @user.name %> さんの投稿フレーズ</span>
      <small>（<%= @user.phrases.count %>件）</small>
    </h1>
  </div>

  <%= render 'shared/posted_phrases' %>

  <p><%= link_to "トップページへ", root_path %></p>