<% provide(:title, "#{@user.name}") %>
<% provide(:description, "#{@user.name}さんの英語・英会話フレーズ集") %>

  <div class="row-fluid">
    <%# サイトメインタイトル %>
    <%= render 'shared/main-title' %>
  </div>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "メンバー", users_path %>
      <span class="divider">/</span>
    </li>
    <li class="active"><%= @user.name %></li>
  </ol>

  <%= render 'shared/public_user_profile' %>

  <%# フレーズ投稿 %>
  <% if signed_in? && ( @user.id == current_user.id ) %>
    <p>&nbsp;</p>
    <%= render 'shared/post_phrase_link' %>
  <% end %>

  <p>&nbsp;</p>
  <%# ユーザー紹介 %>
  <%= render 'shared/introduce-users' %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
</div>

