<% provide(:title, @user.name) %>

<div class="container ph_profile_container">
  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "メンバー", users_path %>
      <span class="divider">/</span>
    </li>
    <li class="active"><%= @user.name %></li>
  </ol>


  <div class="well ph_well-box">
   
    <legend ><strong><%= @user.name %></strong>さん</legend>
    
    <%# プロフィール %>
    <div class="well ph_well-cancel-color ph_pr_img">
      <%= image_tag('service/8566716_aa614fe042_image.jpg', { alt:"post-icon", size:"150x100" } ) %> 
    </div>

    <div class="well ph_well-cancel-color ph_pr_msg">
      <p>洋画が好きです。特に『ショーシャンクの空に』（字幕）は何度も観ました。そのついでに英語も勉強しました。</p>
    </div>

    <%# 状況 %>
    <div class="lead well ph_well-cancel-color ph_status">
        <ul class="unstyled inline ">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_009_magic.png', { alt:"post-icon" } ) %> 投稿したフレーズ</li>
          <li><%= link_to "#{@user.phrases.count}件", posts_user_path(@user) %></li>

        </ul>

        <ul class="unstyled inline">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_049_star.png', { alt:"favorite-icon" } ) %> お気に入りフレーズ</li>
          <li><%= link_to "12件", "#" %></li>
        </ul>

        <ul class="unstyled inline">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_019_heart_empty.png', { alt:"love-icon" } ) %> お気に入りに追加された回数</li>
          <li><%= link_to "6回", "#" %></li>
        </ul>
    </div>
  </div>
</div>
