<% provide(:title, "英語・英会話フレーズ|Phrasee|#{@user.name}") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "メンバー", users_path %>
      <span class="divider">/</span>
    </li>
    <li class="active"><%= @user.name %></li>
  </ol>

<div class="container ph_profile_container">



  <div class="well ph_well-box">
   
    <legend ><strong><%= @user.name %></strong>さん</legend>
    
    <%# プロフィール %>
    <div class="well ph_well-cancel-color ph_pr_img">
      <% if @user.profile_image.present? %>
        <%#= image_tag("user_images/#{@user.profile_image}", { alt:"user-image", size:"150x100" } ) %> 
        <%= image_tag(@user.profile_image, { alt:"user-image", size:"150x100" } ) %> 
      <% else %>
        <%#= image_tag('service/8566716_aa614fe042_image.jpg', { alt:"user-image", size:"150x100" } ) %> 
        <%= default_user_image_tag.html_safe %>
      <% end %>
    </div>

    <div class="well ph_well-cancel-color ph_pr_msg">
      <p><%= @user.introduction if @user.introduction.present? %></p>
    </div>

    <%# 状況 %>
    <div class="lead well ph_well-cancel-color ph_status">
        <ul class="unstyled inline ">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_009_magic.png', { alt:"post-icon" } ) %> 投稿したフレーズ</li>
          <li><%= link_to "#{@user.phrases.count}件", posts_user_path(@user) %></li>

        </ul>

        <ul class="unstyled inline">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_049_star.png', { alt:"favorite-icon" } ) %> お気に入りフレーズ</li>
          <li><%= link_to "12件", "#" %></li>
        </ul>

        <ul class="unstyled inline">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_019_heart_empty.png', { alt:"love-icon" } ) %> お気に入りに追加された回数</li>
          <li><%= link_to "6回", "#" %></li>
        </ul>
    </div>
  </div>
  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>
</div>

