<% provide(:title, "英語・英会話フレーズ|Phrasee|#{@user.name}") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "メンバー", users_path %>
      <span class="divider">/</span>
    </li>
    <li class="active"><%= @user.name %></li>
  </ol>

  <%= render 'shared/public_user_profile' %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>
</div>

