
<div class="container ph_profile_wrapper"><%# プロフィール全体用 %>
  <div class=" ph_profile_container"><%# 左右margin/padding調整用 %>
    <div class="well ph_well-box"><%# 白囲み表示or囲み無し切り替え用 %>

    <% if @user.present? %>
      <legend ><strong><%= @user.name %></strong>さん</legend>
      
      <%# プロフィール画像 %>
      <div class="well ph_well-cancel-color ph_pr_img">
        <%= render partial: 'devise/shared/profile_image', locals:{ user:@user } %>
      </div>

      <%# 自己紹介 %>
      <div class="well ph_well-cancel-color ph_pr_msg">
        <p><%= simple_format(@user.introduction) if @user.introduction.present? %></p>
      </div>

      <%# 状況 %>
      <div class="lead well ph_well-cancel-color ph_status">
        <ul class="unstyled inline ">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_009_magic.png', { alt:"post-icon" } ) %> 投稿したフレーズ</li>
          <li><%= link_to "#{@user.phrases.count}件", posts_user_path(@user) %></li>
        </ul>

        <ul class="unstyled inline">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_049_star.png', { alt:"favorite-icon" } ) %> お気に入りフレーズ</li>
          <li><%= link_to "#{@user.favorites.count}件", favorites_path(@user) %></li>
        </ul>

        <ul class="unstyled inline">
          <li><%= image_tag('glyphicons_free/glyphicons/png/glyphicons_019_heart_empty.png', { alt:"love-icon" } ) %> お気に入りに追加された回数</li>
          <li><b><%= "#{@favoriteds.count}回" %></b></li>
        </ul>
      </div>
    <% else %>
      <p>該当ユーザーが見つかりませんでした。</p>
    <% end %>
    </div>
  </div>
</div>