<%# 「投稿フレーズ」or「お気に入りフレーズ」振り分け %>
<% what = type==:posted ? "投稿フレーズ" : "お気に入りフレーズ" %>

<%# フレーズ件数 %>
<% count = 0 %>
<% unless user.phrases.blank? %>
  <% count = type==:posted ? user.phrases.count : user.favorites.count %>  
<% end %>

<% provide(:title, "#{user.name}さんの#{what}一覧") %>

  <%# サイトメインタイトル %>
  <%= render 'shared/main-title' %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <!-- トップページ -->
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="home">
      <%= link_to root_path, itemprop:"url" do %>
      <span itemprop="title">トップ</span>
      <% end %>
      <span class="divider">/</span>
    </li>
    <!-- 子ページ -->
     <li itemprop="child"  itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <%= link_to users_path, itemprop:"url" do %>
      <span itemprop="title">メンバー</span>
      <% end %>
      <span class="divider">/</span>
    </li>
    <!-- 現在ページ -->
    <li class="active" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title"><%= "#{what}" %><</span>
    </li>
  </ol>
  
  <!-- page header -->
  <div class="page-header">
    <h2>
      <%= link_to user_path(user), { class:"pull-left", title:"#{user.name}さんのフレーズブックはこちら", rel:"author", itemprop:"url" } do %>
        <%= cl_image_tag( user.profile_image_url, width:24, height:24, crop: :fill, class:"img-polaroid", alt:"#{user.name}さん") %>
      <% end %>
      <span class="ph_category_name"><%= user.name %>さんの<%= "#{what}" %></span>
      <small><%= "（#{count}件）" %></small>
    </h2>
  </div>

  <%= render 'shared/phrases_list', phrases: @target_phrases %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>