<% what = type==:posted ? "投稿フレーズ" : "お気に入りフレーズ" %>
<% count = type==:posted ? user.phrases.count : user.favorites.count %>

<% provide(:title, "英語・英会話フレーズ|Phrasee|#{what}一覧") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "メンバー", users_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to user.name, user_path(@user) %>
      <span class="divider">/</span>
    </li>
    <li class="active"><%= "#{what}" %></li>
  </ol>
  
  <!-- page header -->
  <div class="page-header">
    <h1>
      <span class="ph_category_name"><%= user.name %>さんの<%= "#{what}" %></span>
      <small><%= "（#{count}件）" %></small>
    </h1>
  </div>

  <%= render 'shared/phrases_list' %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>