<%# provide(:title, "みんなでつくる英語フレーズ集") %>
<% provide(:description, "これまでに投稿された英語・英会話フレーズ一覧") %>

<div class="container">
  <!-- page header -->
  <div class="page-header">
    <div class="row-fluid">

      <%# サイトメインタイトル %>
      <%= render 'shared/main-title' %>

      <div class="span6 social-buttons">
      <%# ソーシャルボタン %>
      <%= render 'shared/social-buttons' %>
      </div>
    </div>
    <%# アカウント登録へのリンク %>
    <%#= render 'shared/pr' %>
  </div>

  <!-- phrases box row：新着 -->
  <div class="row-fluid ph-row">
    <div class="span6 ph_phrase_box well">
      <h2 class="ph_category">
        <%= link_to phrases_path, { class:"ph_new_link" } do %>
          新着順<small>（全<%= Phrase.count %>件）</small>
        <% end %>
      </h2>
        <% if @phrases.any? %>
          <ul class="ph_phrase_ul">
            <% @phrases.each do |phrase| %>
              <li class="ph_phrase_item">
                <% japanese_phrase = phrase.japanese %>
                <%= link_to truncate(japanese_phrase, { :length => 20 }), phrase_path(phrase), { title:"『#{japanese_phrase}』の英語フレーズはこちら", class:"learned2" } %>
              </li>
            <% end %>
          </ul>
          <p class="ph_last_item">
            <small><%= link_to "英語フレーズをすべて見る", phrases_path %></small>
          </p>            
        <% else %>
          新着フレーズはありません。
        <% end %>
    </div><%# 新着フレーズboxここまで %>
  <%# </div> # 下記で自動的に付与  %>

  <% @categories.each_with_index do |category, index| %>

    <!-- phrases box row：カテゴリー別 -->
    <% if index.odd? %>
    <div class="row-fluid ph-row"><%# ループ初回と偶数回はスルー %>
    <% end %>
    
      <!-- phrases box  -->
      <div class="span6 ph_phrase_box well">
          <%# カテゴリー名 %>
          <h2 class="ph_category">
            <%= link_to category_path(category), { class:"ph_category_link", title:"『#{category.category_name}』の英語フレーズ一覧はこちら" } do %>
              <%= category.category_name %><small>（<%= category.phrases.count %>件）</small>
            <% end %>
          </h2>

          <%# このカテゴリーのフレーズ %>
          <% if category.phrases.any? %>
            <ul class="ph_phrase_ul">
              <% category.phrases[0..2].each do |phrase| %>
                <li class="ph_phrase_item">
                  <% japanese_phrase = phrase.japanese %>
                  <%= link_to truncate(japanese_phrase, { :length => 20 }), phrase, { title:"『#{japanese_phrase}』の英語フレーズはこちら" } %>
                </li>
              <% end %>
            </ul>
            <p class="ph_last_item">
              <small><%= link_to "『#{category.category_name}』の英語フレーズをすべて見る", category_path(category), { title:"『#{category.category_name}』の英語フレーズ一覧はこちら" } %></small>
            </p>            
          <% else %>
            このカテゴリーに該当するフレーズはまだありません。
          <% end %>
      </div><%# カテゴリー別フレーズboxここまで %>

    <% if index.even? or ( index.odd? and Category.count-1 == index ) # 偶数or最後の要素 %>
    </div>
    <% end %>
   
  <% end %>

  <%= render 'shared/categories_and_post' %>

  <p>&nbsp;</p>
  <%# ユーザー紹介 %>
  <%= render 'shared/introduce-users' %>
</div>