<%# provide(:title, "みんなでつくる英語フレーズ集") %>
<% provide(:description, "これまでに投稿された英語・英会話フレーズ一覧") %>
    
<div class="container">


  <!-- page header -->
  <div class="page-header">
    <%# サイトメインタイトル %>
    <%= render 'shared/main-title'%>
  </div>

  <%# 【PR】 アカウント登録へのリンク %>
  <%= render 'shared/pr' %>

  <!-- ピックアップフレーズ -->
  <% unless @pikup_phrase.blank? %>

  <div class="row-fluid pikup-phrase">
    <div class="span12 ph_phrase_box_cancel ">

      <h2>
      <%= link_to @pikup_phrase do %>
        <%= image_tag('marks/ecbzns010_018.png', { alt:"ピックアップ英語フレーズ", size:"44x44" } ) %><span>今日のピックアップ・英語フレーズ</span>
      <% end %>
      </h2>

      <%= render partial: 'shared/show-phrase', locals:{ phrase: @pikup_phrase } %>
      <%= render partial: 'shared/post-member-icon', locals:{ user: @pikup_phrase.user } %>
      <%= link_to @pikup_phrase.user.name, user_path(@pikup_phrase.user), title:"#{@pikup_phrase.user.name}さんのフレーズブックはこちら" %>

      <span class="muted">
      <% if Rails.env.production? %>
        <%# 本番環境はそのまま %>
        <time itemprop="" datetime=<%= @pikup_phrase.updated_at.strftime "%Y-%m-%d %H:%M:%S" %>>
        <%= @pikup_phrase.updated_at.strftime "%Y-%m-%d %H:%M:%S" %>
        </time>
      <% else %>
        <%# ローカル環境はUTCからJST（日本時間）に変換→＋9時間 %>
        <time itemprop="" datetime=<%= @pikup_phrase.updated_at.to_s(:db) %>>
        <%= @pikup_phrase.updated_at.to_s(:db) %>
        </time>
      <% end %>
      </span>

      <p>
      <%= simple_format( truncate(@pikup_phrase.story, { :length => 36 }) ) %>
      <%= link_to "詳細を見る", @pikup_phrase %>
      </p>
    </div>
  </div>

  <% end %> 
  <!-- // -->  

  <div class="row-fluid top-page-phrases">

    <!-- 左側 -->  
    <div class="span8 ">
      <%= render 'shared/phrases_list', phrases: @phrases %>
    </div>
     
    <!-- 右側 -->  
     <div class="span4 top-page-right-container">

      <legend>注目メンバー</legend>
      <%#= render 'shared/members', object: @users %>

      <ul class="users_list unstyled">
        <% @users[0..Constants.PH_TOP_MEMBERS_NUM-1].each do |user| %>

          <!-- pv数 -->
          <div class="pv_container_at_toppage">
            &nbsp;<%= render 'shared/pv', pv_count: user.phrases.map{|p|p.pv}.sum %>
          </div>

          <li class="user_item">
            <ol class="inline">
              <li style="width:70px;">
                <!-- メンバー画像 -->
                <%= link_to user_path(user), { class:"" } do %>
                   <%= render partial: 'devise/shared/profile_image', locals:{ user: user, type: :thumb } %>
                <% end %>
              </li>
              <li>
                <!-- メンバー名 -->
                <%= link_to user.name, user, class:"user_name" %>
              </li>
              <li>
                <!-- 自己紹介 -->
                <small>
                <%= simple_format(truncate(user.introduction, { :length => 50 })) if user.introduction.present? %>
                </small>
              </li>
            </ol>

          </li>
        <% end %>
      </ul>


      <p>&nbsp;</p>

      <legend><%= link_to "カテゴリー別", categories_path %></legend>
      <ul class="unstyled">
        <% @categories.each do |category| %>
          <li class="">
            <%= link_to category_path(category), { title:"『#{category.category_name}』関連の英語フレーズはこちら" } do %>
            <%= "『#{category.category_name}』" %>
            <% end %><small class="muted">（<%= category.phrases.count %>件）</small>
          </li>
        <% end %>
      </ul>

     </div> 
  </div>

  <!-- 元のファイルがあったところ ココから -->  
  <!-- ココまで// -->  

  <%= render 'shared/categories_and_post' %>

  <p>&nbsp;</p>
  <%# ユーザー紹介 %>
  <%= render 'shared/introduce-users' %>
</div>