<div class="container">

  <!-- page header -->
  <div class="page-header">
    <h1>Home</h1>
  </div>

  <!-- phrases -->
  <div class="span12">

    <!-- phrases box row -->
    <div class="row-fluid">

      <!-- phrases box  -->
      <div class="span6 ph_phrase_box">
        <h1 class="ph_category"><%= link_to "新着", "#", { class:"ph_category_link" } %></h1>
        <ul class="ph_phrases_list unstyled">
          <li class="ph_phrase_item"><%= link_to "必要になるまでやるな。", phrase_path(1) %></li>
          <li class="ph_phrase_item"><%= link_to "重要でないことにNOと言おう。", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "「希望」は良いものだ。おそらく最高のものだ。", "#" %></li>
          <li class="ph_phrase_item ph_last_item"><%= link_to "新着の英語フレーズをすべて見る", "#" %></li>
        </ul>
      </div>

      <!-- phrases box  -->
      <div class="span6 ph_phrase_box">
        <h1 class="ph_category"><%= link_to "あいさつ", "#", { class:"ph_category_link" } %></h1>
        <ul class="ph_phrases_list unstyled">
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item ph_last_item"><%= link_to "「XXX」関連の英語フレーズをすべて見る", "#" %></li>
        </ul>
      </div>

    </div><%# phrases box row ここまで %>

    <!-- phrases box row -->
    <div class="row-fluid">

      <!-- phrases box  -->
      <div class="span6 ph_phrase_box">
        <h1 class="ph_category"><%= link_to "空港", "#", { class:"ph_category_link" } %></h1>
        <ul class="ph_phrases_list unstyled">
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item ph_last_item"><%= link_to "「XXX」関連の英語フレーズをすべて見る", "#" %></li>
        </ul>
      </div>
      <!-- phrases box  -->
      <div class="span6 ph_phrase_box">
        <h1 class="ph_category"><%= link_to "レストラン", "#", { class:"ph_category_link" } %></h1>
        <ul class="ph_phrases_list unstyled">
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item ph_last_item"><%= link_to "「XXX」関連の英語フレーズをすべて見る", "#" %></li>
        </ul>
      </div>
    </div><%# phrases box row ここまで %>

  </div><%# phrases ここまで %>

</div>