<div class="container">

  <!-- page header -->
  <div class="page-header">
    <h1>みんなでつくる英語フレーズ集『 Phrasee 』。</h1>
  </div>


    <!-- phrases box row -->
    <div class="row-fluid">

      <!-- phrases box  -->
      <div class="span6 ph_phrase_box well">
        <h1 class="ph_category"><%= link_to "新着", phrases_path, { class:"ph_category_link" } %></h1>
        <% if @phrases.nil? %>
          新着フレーズはありません。
        <% else %>
          <ul class="ph_phrases_list unstyled">
            <% @phrases.each do |phrase| %>
              <li class="ph_phrase_item"><%= link_to phrase.japanese, phrase_path(phrase.id) %></li>
            <% end %>
              <li class="ph_phrase_item ph_last_item"><%= link_to "新着の英語フレーズをすべて見る", phrases_path %></li>
          </ul>
        <% end %>
      </div>

      <!-- phrases box  -->
      <div class="span6 ph_phrase_box well">
        <h1 class="ph_category"><%= link_to @categories.first.category_name, category_path(@categories.first.id), { class:"ph_category_link" } %></h1>
        <ul class="ph_phrases_list unstyled">
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item ph_last_item"><%= link_to "「XXX」関連の英語フレーズをすべて見る", "#" %></li>
        </ul>
      </div>

    </div><%# phrases box row ここまで %>

    <!-- phrases box row -->
    <div class="row-fluid">

      <!-- phrases box  -->
      <div class="span6 ph_phrase_box well">
        <h1 class="ph_category"><%= link_to "空港", "#", { class:"ph_category_link" } %></h1>
        <ul class="ph_phrases_list unstyled">
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item ph_last_item"><%= link_to "「XXX」関連の英語フレーズをすべて見る", "#" %></li>
        </ul>
      </div>
      <!-- phrases box  -->
      <div class="span6 ph_phrase_box well">
        <h1 class="ph_category"><%= link_to "レストラン", "#", { class:"ph_category_link" } %></h1>
        <ul class="ph_phrases_list unstyled">
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item"><%= link_to "●●●●●●●●●●●●●●●", "#" %></li>
          <li class="ph_phrase_item ph_last_item"><%= link_to "「XXX」関連の英語フレーズをすべて見る", "#" %></li>
        </ul>
      </div>
    </div><%# phrases box row ここまで %>

</div>