<% provide(:title, "英語の名言・英会話フレーズなど満載！みんなでつくる英語フレーズ集『Phrasee』") %>
<div class="container">

  <!-- page header -->
  <div class="page-header">
    <h1>
    <%= link_to guide_path do %>
    <%= "みんなでつくる英語フレーズ集『Phrasee』" %>
    <% end %>
    </h1>
  </div>

  <!-- phrases box row：新着 -->
  <div class="row-fluid">
    <div class="span6 ph_phrase_box well">
      <h1 class="ph_category">
        <%= link_to "新着", phrases_path, { class:"ph_new_link" } %>
      </h1>
        <% if @phrases.any? %>
          <ul class="">
            <% @phrases.each do |phrase| %>
              <li class="ph_phrase_item">
                <% japanese_phrase = phrase.japanese %>
                <%= link_to truncate(japanese_phrase, { :length => 20 }), phrase_path(phrase) %>
              </li>
            <% end %>
          </ul>
          <p class="ph_last_item">
            <small><%= link_to "新着の英語フレーズをすべて見る", phrases_path %></small>
          </p>            
        <% else %>
          新着フレーズはありません。
        <% end %>
    </div><%# 新着フレーズboxここまで %>
  <%# </div> # 下記で自動的に付与  %>

  <% @categories.each_with_index do |category, index| %>

    <!-- phrases box row：カテゴリー別 -->
    <% if index.odd? %>
    <div class="row-fluid"><%# ループ初回と偶数回はスルー %>
    <% end %>
    
      <!-- phrases box  -->
      <div class="span6 ph_phrase_box well">
          <%# カテゴリー名 %>
          <h1 class="ph_category">
            <%= link_to category_path(category), { class:"ph_category_link" } do %>
              <%= category.category_name %><small>（<%= category.phrases.count %>件）</small>
            <% end %>
          </h1>

          <%# このカテゴリーのフレーズ %>
          <% if category.phrases.any? %>
            <ul class="">
              <% category.phrases[0..4].each do |phrase| %>
                <li class="ph_phrase_item">
                  <% japanese_phrase = phrase.japanese %>
                  <%= link_to truncate(japanese_phrase, { :length => 20 }), phrase %>
                </li>
              <% end %>
            </ul>
            <p class="ph_last_item">
              <small><%= link_to "『#{category.category_name}』の英語フレーズをすべて見る", category_path(category) %></small>
            </p>            
          <% else %>
            このカテゴリーに該当するフレーズはまだありません。
          <% end %>
      </div><%# カテゴリー別フレーズboxここまで %>

    <% if index.even? or ( index.odd? and Category.count-1 == index ) # 偶数or最後の要素 %>
    </div>
    <% end %>
   
  <% end %>

  <%= render 'shared/categories_and_post' %>
</div>