<div class="container">

  <!-- page header -->
  <div class="page-header">
    <h1 class="small">みんなでつくる英語フレーズ集『Phrasee』<small></small></h1>
  </div>


  <% @categories.each_with_index do |category, index| %>

    <!-- phrases box row -->
    <% if index.even? %>
    <div class="row-fluid">
    <% end %>
    
      <!-- phrases box  -->
      <div class="span6 ph_phrase_box well">
          <%# カテゴリー名 %>
          <h1 class="ph_category">
            <%= link_to category_path(category), { class:"ph_category_link" } do %>
              <%= category.category_name %><small>（<%= category.phrases.count %>件）</small>
            <% end %>
          </h1>

          <%# フレーズ %>
          <% if category.phrases.any? %>
            <ul class="">
              <% category.phrases[0..4].each do |phrase| %>
                <li class="ph_phrase_item">
                  <%= link_to phrase.japanese, phrase %>
                </li>
              <% end %>
            </ul>
            <p class="ph_last_item">
              <small><%= link_to "『#{category.category_name}』の英語フレーズをすべて見る", category_path(category) %></small>
            </p>            
          <% else %>
            このカテゴリーに該当するフレーズはまだありません。
          <% end %>
      </div>

    <% if index.odd? or ( index.even? and Category.count-1 == index ) # 奇数or最後の要素 %>
    </div>
    <% end %>
   
  <% end %>

</div>