<% provide(:title, "英語・英会話フレーズ|Phrasee|ご利用ガイド") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">ご利用ガイド</li>
  </ol>
  
<div class="container container_center">

  <!-- page header -->
  <div class="page-header">
    <h3>Phraseeはみんなでつくる英語フレーズ集です。</h3>
  </div>

  <p class="can_do_things lead">Phraseeでできる3つのこと</p>

  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="lead">のせる</div>
        <div class="thumbnail ">
          <%= image_tag('service/c8qkh32fimB.jpg', { alt:"post_it", size:"300x200" } )   %>
          <h3>Post it !</h3>
          <p>好きなフレーズを投稿する。</p>
        </div>
      </li>

      <li class="span4">
        <div class="lead">さがす</div>
        <div class="thumbnail ">
          <%= image_tag('service/8566716_aa614fe042_image.jpg', { alt:"_it", size:"300x200" } )   %>
          <h3>Find it !</h3>
          <p>使えるフレーズを見つける。</p>
        </div>
      </li>

      <li class="span4">
        <div class="lead">メモる</div>
        <div class="thumbnail ">  
          <%= image_tag('service/gargle.png', { alt:"get_it", width:"300" } )   %>
          <h3>Get it !</h3>
          <p>お気に入りフレーズをノートに記録する。</p>
        </div>
      </li>
    </ul>
    <p>※すべての機能を使うには、<%= link_to "会員登録（無料）", new_user_registration_path %>が必要です。</p>
  </div>
  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>
</div>