<% provide(:title, "Phraseeとは？") %>
<% provide(:description, "英語フレーズ投稿・共有サイト『Phrasee』は、1回1フレーズを書くだけのシンプルなミニ英語ブログです。") %>

  <div class="row-fluid">
    <%# サイトメインタイトル %>
    <%= render 'shared/main-title' %>
  </div>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">ご利用ガイド</li>
  </ol>
  
<div class="container container_center">

  <!-- page header -->
  <div class="page-header">
    <h3><%= image_tag('characters/t9lion_trans.png', { alt:"lion-icon", width:"55" } ) %>Phraseeとは？</h3>
    <p class="">英語フレーズ × コミュニケーション ＝ みんなでつくる英語フレーズ集</p>
  </div>

  <%# メッセージ %>
  <%= render 'shared/guide-message_1' %>
  <p>&nbsp;</p>

    <%= render "shared/can-do-what"%>
  
  
  <p>&nbsp;</p>
  <div class="well" style="text-align:left;">
  <h4>【 Phraseeを使っている人たち 】</h4>
  <p class="">　こんな人たちが使ってます。</p>
  <%= render 'shared/members', object: @recent_users %>
  <%= link_to "全てのメンバーを見る", users_path %>
  </div>

  <p>&nbsp;</p>
  <%# メッセージ2 %>
  <%= render 'shared/guide-message_2' %>

  <p>&nbsp;</p>
  <%= render 'shared/signup_link' %>

  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>

</div>