<% provide(:title, "英語・英会話フレーズ|Phrasee|ヘルプ") %>
<div class="container">

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">ヘルプ</li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h3>ヘルプ <%= image_tag('glyphicons_free/glyphicons/png/glyphicons_294_coffe_cup.png', { alt:"coffee-icon" } ) %></h3>
  </div>

  <div class="container">
    <section id="faq">
      <legend>FAQ</legend>
      <dl>
        <dt>Phraseeって何？</dt>
        <dd><%= link_to "Phraseeとは？", guide_path %>をご覧ください。</dd>
      </dl>

      <dl>
        <dt>お金かかるの？</dt>
        <dd>無料でご利用いただけます。<span>（インターネット接続自体にかかる費用はご利用者様の負担となります。）</span></dd>
      </dl>
    </section>

    <section id="howtouse_basic">
      <legend>基本的な使い方</legend>
      <dl>
        <dt>フレーズをのせる（投稿する）方法</dt>
        <dd>
          <ol>
            <li>あらかじめ<%= link_to 'ログイン画面', new_user_session_path %>からログインしておく</li>
            <li>
                画面右上端の <a class="btn btn-success btn-mini post-phrase" href=<%= new_phrase_path %> >フレーズをのせる</a> ボタンをクリックする
            </li>
            <li>日本語と英語のフレーズおよびそれにまつわるエピソードなどを書いて投稿する</li>
          </ol>
        </dd>
      </dl>

      <dl>
        <dt>フレーズをさがす方法</dt>
        <dd>
          <p>トップページから各カテゴリー名をクリックする →該当する英語フレーズが一覧表示されます</p>

          <% if !Rails.env.production? %><%# 検索システムが完成するまでproduction環境では非表示にしておく %>
          <p>＜検索する場合＞</p>
          <ol>
            <li>画面上端の検索ボックスに調べたい語句を入力する</li>
            <li>検索ボックス横の虫メガネボタンを押す</li>            
          </ol>
          <% end %>
        </dd>
      </dl>

      <dl>
        <dt>フレーズをためる（お気に入りリストへ追加する）方法</dt>
        <dd>
          <ol>
            <li>あらかじめ<%= link_to 'ログイン画面', new_user_session_path %>からログインしておく</li>
            <li>各フレーズのページにいく</li>
            <li><button class="btn btn-mini"><i class="icon icon-star-empty"></i>お気に入りに追加</button> ボタンを押す</li>
          </ol>
        </dd>
      </dl>
    </section>

    <section id="howtouse_develop">
      <legend>投稿したフレーズについての使い方</legend>
      <dl>
        <dt>投稿したフレーズを編集（修正）する方法</dt>
        <dd>
          <ol>
            <li>あらかじめ<%= link_to 'ログイン画面', new_user_session_path %>からログインしておく</li>
            <li>修正したいフレーズのページにいく</li>
            <li><button class="btn btn-mini">編集する</button> ボタンを押す</li>
          </ol>
        </dd>
      </dl>

      <dl>
        <dt>投稿したフレーズを削除する方法</dt>
        <dd>
          <ol>
            <li>あらかじめ<%= link_to 'ログイン画面', new_user_session_path %>からログインしておく</li>
            <li>削除したいフレーズのページにいく</li>
            <li><button class="btn btn-mini btn-danger">削除する</button> ボタンを押す</li>
          </ol>
        </dd>
      </dl>
    </section>

    <section id="account">
      <legend>会員登録・ログインに関すること</legend>
      <dl>
        <dt>以下のような場合には、<%= link_to 'ログイン画面', new_user_session_path %>のボタンの下にあるリンクをご覧ください。</dt>
        <dd>
          <ul>
            <li>パスワードを忘れた</li>
            <li>本人確認メールが届かない</li>
          </ul>     
        </dd>
      </dl>
    </section>
  </div>
  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>
</div>