<% provide(:title, "英語・英会話フレーズ|Phrasee|カテゴリー 一覧") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">カテゴリー 一覧</li>
  </ol>
  
  <!-- page header -->
  <div class="page-header">
    <h1><span class="ph_category_name">カテゴリー 一覧</span></h1>
  </div>

  <ul class="ph_caetgories_list">
    <% @categories.each do |category| %>
      <li class="ph_phrase_item">
        <%= link_to category_path(category) do %>
        <%= category.category_name %><small>（<%= category.phrases.count %>件）</small>
        <% end %>
      </li>
    <% end %>
  </ul>

<p>&nbsp;</p>
<p><%= link_to "トップページへ", root_path %></p>
<%= render 'shared/post_phrase_link' %>