<% provide(:title, "英語・英会話フレーズ カテゴリー一覧") %>
<% sb = @categories.map { |x| x.category_name }.join("、") %>
<% provide(:subtitle, "【英語・英会話フレーズカテゴリー一覧】#{sb}") %>
<% provide(:description, "#{sb}など、Phraseeに投稿されている英語・英会話フレーズのカテゴリー一覧です。" ) %>

  <div class="row-fluid">
    <%# サイトメインタイトル %>
    <%= render 'shared/main-title', tag:"h1" %>
  </div>

  <!-- パンくずリスト -->
  <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <!-- トップページ -->
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="home">
      <%= link_to root_path, itemprop:"url" do %>
      <span itemprop="title">トップ</span>
      <% end %>
      <span class="divider">/</span>
    </li>
    <!-- 現在ページ -->
    <li class="active" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title">カテゴリー</span>
    </li>
  </ol>
  
  <!-- page header -->
  <div class="page-header">
    <h2><span class="ph_category_name">カテゴリー 一覧</span></h2>
  </div>

  <ul class="ph_caetgories_list">
    <% @categories.each do |category| %>
      <li class="ph_phrase_item">
        <%= link_to category_path(category), { title:"『#{category.category_name}』関連の英語フレーズはこちら" } do %>
        <%= "『#{category.category_name}』" %><small>の英語フレーズ</small>
        <% end %><small class="muted">（<%= category.phrases.count %>件）</small>
      </li>
    <% end %>
  </ul>

<p>&nbsp;</p>
<%= render 'shared/post_phrase_link' %>

<%# ユーザー紹介 %>
<%= render 'shared/introduce-users' %>

<p>&nbsp;</p>
<%= render 'shared/top-page_link' %>