<% provide(:title, "『#{@category.category_name}』の英語・英会話フレーズ") %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb">
    <li>
      <%= link_to 'トップ', root_path %>
      <span class="divider">/</span>
    </li>
     <li>
      <%= link_to 'カテゴリー', categories_path %>
      <span class="divider">/</span>
    </li>   
    <li class="active">
      <%= @category.category_name %>
    </li>
  </ol>

  <!-- page header -->
  <div class="page-header">
    <h1><span class="ph_category_name"><%= @category.category_name %>（<%= @category.phrases.count %>件）</span></h1>
  </div>


  <%= render 'shared/phrases_list' %>


  <p>&nbsp;</p>
  <p><%= link_to "トップページへ", root_path %></p>
  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>