<% provide(:title, "『#{@category.category_name}』の英語・英会話フレーズ") %>
<% provide(:subtitle, "『#{@category.category_name}』カテゴリーに投稿された英語・英会話フレーズ一覧") %>
<% provide(:description, "『#{@category.category_name}』の英語・英会話フレーズを一覧でご紹介。") %>

  <%# サイトメインタイトル %>
  <%= render 'shared/main-title' %>

  <!-- パンくずリスト -->
  <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <!-- トップページ -->
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="home">
      <%= link_to root_path, itemprop:"url" do %>
      <span itemprop="title">トップ</span>
      <% end %>
      <span class="divider">/</span>
    </li>
    <!-- 子ページ -->
     <li itemprop="child"  itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <%= link_to categories_path, itemprop:"url" do %>
      <span itemprop="title">カテゴリー</span>
      <% end %>
      <span class="divider">/</span>
    </li>
    <!-- 現在ページ -->
    <li class="active" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title"><%= @category.category_name %></span>
    </li>
  </ol>


  <!-- page header -->
  <div class="page-header">
    <h2>
      <%= link_to category_path(@category.id) do %>
      <span class="ph_category_name"><%=  "『#{@category.category_name}』" %>の英語フレーズ（<%= @category.phrases.count %>件）</span>
      <% end %>
    </h2>
  </div>

  <%= render 'shared/phrases_list', phrases: @phrases %>

  <p>&nbsp;</p>

  <%= render 'shared/categories_link' %>
  <%= render 'shared/post_phrase_link' %>

  <%# ユーザー紹介 %>
  <%= render 'shared/introduce-users' %>
  
  <p>&nbsp;</p>
  <%= render 'shared/top-page_link' %>