<!-- <div class="span12">-->
  <div class="container">
    <div class="row-fluid">
      <div class="span7">
        <h5>ニュース</h5>
        <p>2013/2/14</p>
        <p>みんなでつくる英語フレーズ集『Phrasee』を開始しました。</p>
        <p>
          <img src="http://placehold.it/100x100" class="img-polaroid" alt="image"> 
        </p>
      </div>
      <div class="span5">
        <h5>当サイトについてのご意見を募集中です。</h5>
        <p>あなたが不満な点・良いと思う点など、ご自由にお寄せください。</p>
        <form>
          <div class="control-group info footer_centerize">
            <div class="controls">
              <label class="control-label">ご意見送信フォーム</label>
              <textarea class="input-block-level" rows="6"></textarea>
              <a class="btn">サイト運営者へ意見を送る</a>
              <div id="otoiawase_link">
                <%= link_to "使い方についてのお問い合わせはこちら", help_path %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row-fluid footer_centerize">
      <div class="span12">
        <ol class="breadcrumb">
          <li>
            <%= link_to "トップページ", root_path %>
            <span class="divider">|</span>
          </li>
          <li>
            <%= link_to "ヘルプ", help_path %>
            <span class="divider">|</span>
          </li>
          <li>
            <%= link_to "利用規約", terms_path %>
            <span class="divider">|</span>
          </li>
          <li>
            <%= link_to "免責事項", disclaimer_path %>
            <span class="divider">|</span>
          </li>
          <li>
            <%= link_to "プライバシーポリシー", privacy_path %>
          </li>
        </ol>
      </div>
      <div class="span12 muted">Copyright (C) 2013 phrasee.jp All Rights Reserved.</div>
    </div>
  </div>
