<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <%# Title  %>
    <% basic_title = "[Phrasee]みんなでつくる英語フレーズ集" %>
    <title><%= content_for?(:title) ? yield(:title) : basic_title %></title>

    <%# Description  %>
    <!--
    <meta name="description" content="<%#= content_for?(:description) ? yield(:description) : 
    " Phraseeはみんなでつくる英語フレーズ集です。" %>
  -->

    <%# Keywords %>
    <% plus_words = ["英語", "英会話", "フレーズ"] %>
    <% keywords = plus_words.push(Category.all.map{|c|c.category_name}).join(", ") %>
    <% set_meta_tags :keywords => keywords %>

    <%# og %>
    <% 
    set_meta_tags :og => {
      :title    => basic_title,
      :type     => 'website',
      :url      => 'http://www.phrasee.jp/',
      :image    => 'http://www.phrasee.jp/apple-touch-icon.png',
      :site_name    => 'みんなでつくる英語フレーズ集『Phrasee』'
    } 
    %>

    <%# meta出力 %>
    <%= display_meta_tags %>

    <%# js/css %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag '/favicon.ico' %>

    <link rel="apple-touch-icon" href="apple-touch-icon-iphone.png" /> 
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
<%#
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
%>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <!-- For FaceBook いいねボタン -->
    <%= render 'layouts/facebook-sdk' %>

    <!-- header -->
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    
    <!-- body -->
    <div id="main" role="main" class="container body_container">

      <!-- notice/alert -->
      <%= render 'layouts/messages' %>

      <!-- 各ページコンテンツ -->
      <%= yield %>
    </div>

    <!-- footer -->
    <footer id="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
