<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title><%= content_for?(:title) ? yield(:title) : "Phrasee!" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Phrasee" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <!-- header -->
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    
    <!-- body -->
    <div id="main" role="main" class="container body_container">

      <!-- notice/alert -->
      <%= render 'layouts/messages' %>

      <!-- 各ページコンテンツ -->
      <%= yield %>
    </div>

    <!-- footer -->
    <footer id="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
